.news-item {
  display: block;
  position: relative;
  margin-bottom: rem-calc(20);
  padding: rem-calc(0 25);

  &:focus,
  &:hover,
  &:active {
    .news-item__title {
      color: scale-color($light-blue, $lightness: -30%);
      text-decoration: none;
    }
  }
  
  &:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: rem-calc(1);
    height: 100%;
    background-color: $light-gray;
    z-index: 1;
  }

  @include breakpoint(small down) {
    margin-bottom: 0;
    text-align: center;

    &:after {
      display: none;
    }
  }

  &__date {
    display: block;
    margin-bottom: rem-calc(18);
    @include font-size('p1');
    line-height: 1.11;
    color: $dark-gray;

    @include breakpoint(large down) {
      margin-bottom: rem-calc(14);
    }
  }

  &__title {
    display: block;
    margin-bottom: rem-calc(40);
    @include font-size('p1');
    line-height: 1.33;
    color: $light-blue;
    text-decoration: none;

    @include breakpoint(large down) {
      margin-bottom: rem-calc(20);
    }
  }

  &__poster {
    display: block;
    width: 100%;
    height: rem-calc(238);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary-color;

    @include breakpoint(large down) {
      height: rem-calc(182);
    }

    @include breakpoint(small down) {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      height: rem-calc(142);
    }
  }
}