.catalog-wrapper
  button.button.button_humb(data-toggle="main-catalog") Каталог товаров #[i.fa.fa-2x.fa-bars]
  .catalog.catalog_hidden#main-catalog(data-toggler=".catalog_hidden")
    .grid-container.catalog-inner
      button.catalog-close
        include ../../../images/close.svg
      .grid-x.grid-padding-x(data-equalizer="catalog-card" data-equalize-by-row="true")
        .cell.large-11
          .catalog-card(style="background-image: url(./i/cat-1.jpg)" data-equalizer-watch="catalog-card")
            h4.catalog-card__title Посуда для приготовления
            ul.catalog-list
              each listItem in ['Баки', 'Наборы посуды', 'Кастрюли', 'Ковши', 'Лотки', 'Миски', 'Кружки эмалированные', 'Сковороды', 'Чайники']
                li: a.catalog-list__item(href="#")= listItem

        .cell.large-13
          .catalog-card(data-equalizer-watch="catalog-card")
            h4.catalog-card__title Кухонные принадлежности
            .grid-x.medium-up-2
              .cell
                ul.catalog-list
                  each listItem in ['Банки для сыпучих продуктов ', 'Венчики', 'лопатки', 'половники', 'Доски разделочные', 'Ложки и шумовки', 'Масленки', 'Молотки', 'Наборы кухонных приборов', 'Ступки', 'Терки']
                    li: a.catalog-list__item(href="#")= listItem
              .cell
                ul.catalog-list
                  each listItem in ['Салфетницы', 'Солонки', 'Подложки', 'Наборы для специй', 'Пакеты и пленка для продуктов', 'Подносы', 'Скалки', 'Толкушки' , 'Хлебницы']
                    li: a.catalog-list__item(href="#")= listItem

        .cell.large-13
          .catalog-card(style="background-image: url(./i/cat-2.jpg)" data-equalizer-watch="catalog-card")
            h4.catalog-card__title Посуда для чая и кофе
            ul.catalog-list
              each listItem in ['Заварочные чайники', 'Бутылки для воды', 'Кофеварки', 'Кружки', 'Сахарницы', 'Турки']
                li: a.catalog-list__item(href="#")= listItem
                
        .cell.large-11
          .catalog-card(style="background-image: url(./i/cat-3.jpg)" data-equalizer-watch="catalog-card")
            h4.catalog-card__title Детская посуда
            h5.catalog-card__subtitle Интерьер
            ul.catalog-list
              each listItem in ['Вазы', 'Ключницы']
                li: a.catalog-list__item(href="#")= listItem
            h5.catalog-card__subtitle Хозяйственные товары
            ul.catalog-list
              each listItem in ['Ведра', 'Тазы']
                li: a.catalog-list__item(href="#")= listItem
            h5.catalog-card__subtitle Пакеты подарочные