button.button.button_humb(type="button" data-toggle="main-catalog") Каталог товаров #[i.fa.fa-2x.fa-bars]
.dropdown-pane.catalog-wrapper.JS-Megamenu#main-catalog(data-position="bottom" data-alignment="left" data-dropdown data-megamenu="{'cssSubmenuClass': 'catalog__link_submenu', 'cssLinkActive': 'catalog__link_active', 'cssSubmenuActive': 'catalog-submenu_visible'}")
  ul.catalog
    li.catalog__item.JS-Megamenu-Item
      a.catalog__link.JS-Megamenu-Link(href="#")
        img.catalog__icon(src="images/shop/icons/icon-1.png" alt='icon') 
        span.catalog__title Посуда для приготовления
      ul.catalog-submenu.catalog-submenu_medium.JS-Megamenu-Submenu
        each listItem in ['Баки', 'Наборы посуды', 'Кастрюли', 'Ковши', 'Лотки', 'Миски', 'Кружки эмалированные', 'Сковороды', 'Чайники']
          li.catalog-submenu__item: a.catalog-submenu__link(href="#")= listItem 

    li.catalog__item.JS-Megamenu-Item
      a.catalog__link.JS-Megamenu-Link(href="#")
        img.catalog__icon(src="images/shop/icons/icon-2.png" alt='icon') 
        span.catalog__title Посуда для чая и кофе
      ul.catalog-submenu.JS-Megamenu-Submenu
        each listItem in ['Заварочные чайники', 'Бутылки для воды', 'Кофеварки', 'Кружки', 'Сахарницы', 'Турки']
          li.catalog-submenu__item: a.catalog-submenu__link(href="#")= listItem  

    li.catalog__item.JS-Megamenu-Item
      a.catalog__link.JS-Megamenu-Link(href="#")
        img.catalog__icon(src="images/shop/icons/icon-3.png" alt='icon') 
        span.catalog__title Кухонные принадлежности
      ul.catalog-submenu.catalog-submenu_large.JS-Megamenu-Submenu
        each listItem in ['Банки для сыпучих продуктов', 'Венчики, лопатки, половники', 'Доски разделочные', 'Ложки и шумовки', 'Масленки', 'Молотки', 'Наборы кухонных приборов', 'Салфетницы', 'Солонки', 'Подложки', 'Наборы для специй', 'Пакеты и пленка для продуктов', 'Подносы', 'Скалки', 'Ступки', 'Терки', 'Толкушки' , 'Хлебницы', 'Шприцы кондитерские']
          li.catalog-submenu__item: a.catalog-submenu__link(href="#")= listItem

    li.catalog__item.JS-Megamenu-Item
      a.catalog__link.JS-Megamenu-Link(href="#")
        img.catalog__icon(src="images/shop/icons/icon-4.png" alt='icon') 
        span.catalog__title Детская посуда
      ul.catalog-submenu.JS-Megamenu-Submenu
        each listItem in ['Вазы', 'Ключницы']
          li.catalog-submenu__item: a.catalog-submenu__link(href="#")= listItem

    li.catalog__item.JS-Megamenu-Item
      a.catalog__link.JS-Megamenu-Link(href="#")
        img.catalog__icon(src="images/shop/icons/icon-5.png" alt='icon') 
        span.catalog__title Интерьер
      ul.catalog-submenu.JS-Megamenu-Submenu
        each listItem in ['Ведра', 'Тазы']
          li.catalog-submenu__item: a.catalog-submenu__link(href="#")= listItem

    li.catalog__item.JS-Megamenu-Item
      a.catalog__link.JS-Megamenu-Link(href="#")
        img.catalog__icon(src="images/shop/icons/icon-6.png" alt='icon') 
        span.catalog__title Хозяйственные товары

    li.catalog__item.JS-Megamenu-Item
      a.catalog__link.JS-Megamenu-Link(href="#")
        img.catalog__icon(src="images/shop/icons/icon-7.png" alt='icon') 
        span.catalog__title Пакеты подарочные
