header.header
  .grid-container.grid-container_large
    .grid-x.grid-padding-x.align-middle
      .cell.shrink.hide-for-large
        button.hamburger: i.fa.fa-2x.fa-bars
      .cell.xlarge-shrink
        a(href="#")
          img.header__logo(src="./i/logo-white.png" alt="Logo")
      .cell.shrink
        .catalog-wrapper
          button.button.button_humb(data-toggle="main-catalog") Каталог товаров #[i.fa.fa-2x.fa-bars]
          .catalog.catalog_hidden#main-catalog(data-toggler=".catalog_hidden")
            .grid-container
              .grid-x.grid-padding-x(data-equalizer="catalog-card" data-equalize-by-row="true")
                .cell.large-11
                  .catalog-card(style="background-image: url(./i/cat-1.jpg)" data-equalizer-watch="catalog-card")
                    h4.catalog-card__title Посуда для приготовления
                    ul.catalog-list
                      each listItem in ['Баки (67)', 'Наборы посуды (89)', 'Кастрюли (67)', 'Ковши (23)', 'Лотки (21)', 'Миски (78)', 'Кружки эмалированные (90)', 'Сковороды (90)', 'Чайники (90)']
                        li: a.catalog-list__item(href="#")= listItem

                .cell.large-13
                  .catalog-card(data-equalizer-watch="catalog-card")
                    h4.catalog-card__title Кухонные принадлежности
                    .grid-x.large-up-2
                      .cell
                        ul.catalog-list
                          each listItem in ['Банки для сыпучих продуктов  (67)', 'Венчики', 'лопатки', 'половники (89)', 'Доски разделочные (67)', 'Ложки и шумовки (23)', 'Масленки (21)', 'Молотки (78)', 'Наборы кухонных приборов (90)', 'Ступки', 'Терки']
                            li: a.catalog-list__item(href="#")= listItem
                      .cell
                        ul.catalog-list
                          each listItem in ['Салфетницы (67)', 'Солонки (89)', 'Подложки (67)', 'Наборы для специй (23)', 'Пакеты и пленка для продуктов (21)', 'Подносы (78)', 'Скалки (90)', 'Толкушки' , 'Хлебницы']
                            li: a.catalog-list__item(href="#")= listItem

                .cell.large-13
                  .catalog-card(style="background-image: url(./i/cat-2.jpg)" data-equalizer-watch="catalog-card")
                    h4.catalog-card__title Посуда для чая и кофе
                    ul.catalog-list
                      each listItem in ['Заварочные чайники (67)', 'Бутылки для воды (89)', 'Кофеварки (67)', 'Кружки (23)', 'Сахарницы (21)', 'Турки (78)']
                        li: a.catalog-list__item(href="#")= listItem
                .cell.large-11
                  .catalog-card(style="background-image: url(./i/cat-3.jpg)" data-equalizer-watch="catalog-card")
                    h4.catalog-card__title Детская посуда
                    h5.catalog-card__subtitle Интерьер
                    ul.catalog-list
                      each listItem in ['Вазы (67)', 'Ключницы (89)']
                        li: a.catalog-list__item(href="#")= listItem
                    h5.catalog-card__subtitle Хозяйственные товары
                    ul.catalog-list
                      each listItem in ['Ведра (67)', 'Тазы (89)']
                        li: a.catalog-list__item(href="#")= listItem
                    h5.catalog-card__subtitle Пакеты подарочные
                        
      .cell.auto
        .grid-x
          .cell.shrink
            button.button.button_humb.hide-for-xlarge(data-toggle="header-menu") Меню #[i.fa.fa-2x.fa-bars]
          .cell.auto
            nav.header-menu-wrapper
              ul.header-menu#header-menu(data-toggler=".header-menu_active")
                li.header-menu__item: a.header-menu__link.header-menu__link_tag(href="#")
                  include ../../../images/tag.svg
                  | Акции
                each item in ['Новинки', 'Прайс-листы', 'Новости', 'Контакты']
                  li.header-menu__item: a.header-menu__link(href="#")= item
      
      .cell.shrink
        .input-group.input-group_large
          input.input-group-field(type="search" placeholder="Например: кастрюля" data-short-placeholder="search")
          .input-group-button
            input.button(type="submit" value="Найти")
      
      .cell.xlarge-3
        ul.user-menu
          li.user-menu__item: a.user-menu__link(href="#") 
            include ../../../images/heart.svg
          li.user-menu__item: a.user-menu__link(href="#")
            include ../../../images/cart.svg
          li.user-menu__item: a.user-menu__link(href="#")
            include ../../../images/profile.svg