ul
  li: a(href='homepage.html') Главная
  li: a(href='catalog.html') Каталог
  li: a(href='catalog-row.html') Категория плитками
  li: a(href='catalog-line.html') Категория линиями
  li: a(href='product.html') Страница товара
  li: a(href='news.html') Новости
  li: a(href='news-article.html') Новость
  li: a(href='regular.html') Тектовая страница
