ul
  li: a(href='homepage.html') Главная
  li: a(href='catalog-row.html') Каталог плитками
  li: a(href='catalog-line.html') Каталог линиями
  li: a(href='news.html') Новости
  li: a(href='regular.html') Тектовая страница
