mixin product-card(newItem, sale, promo, imgSrc, customClass, checkbox, disableClass)
  .product-card(class=customClass)
    if newItem
      span.product-card__label.product-card__label_new Новинка
    if sale
      span.product-card__label.product-card__label_sale Хит продаж
    if promo
      span.product-card__label Акция
    .product-card__wrapper
      .product-card__head
        a.product-card__image(href="" style="background-image: url("+ imgSrc +")")
          if checkbox
            +step('', false, 'product-card__checkbox', true)
        +mark()
      .product-card__content
        .product-card__container
          span.product-card__code Артикул: 49028
          button.product-card__fav.js-fav: i.fas.fa-heart
        a.product-card__title(href="") Кофеварка ЭТ-72209 красная 0,4 л *6
        p.product-card__count В наличии: более 100 шт
        form.product-card__form(method="POST" action="#")
          p.product-card__price 7 340 &#8381;
          .flex-container(class=disableClass)
            +quant('quant_right')
            button.button.button_buy.button_bottom(type="submit") Купить