.catalog {
  position: absolute;
  padding: rem-calc(37 0);
  left: 0;
  background-color: $darken-gray;
  width: 100%;
  z-index: 1000;

  &-inner {
    position: relative;
  }

  &-close {
    position: absolute;
    left: 100%;
    font-size: rem-calc(32);
    opacity: 0.6;
    transition: 0.3s ease;
    z-index: 1000;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  &_hidden {
    display: none;
  }
}