.catalog {
  position: relative;
  margin: rem-calc(20 0 0 0);
  padding: rem-calc(0);
  background-color: $white;
  list-style: none;
  border: none;
  border-radius: 0;
  z-index: 9998;
  box-shadow: rem-calc(0 0 10) rgba($color: #000000, $alpha: 0.2);

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: rem-calc(-10);
    left: rem-calc(60);
    background: $white;
    padding: rem-calc(3);
    transform: rotate(45deg);
    height: rem-calc(20);
    width: rem-calc(20);
  }

  &__item {
    &:last-child {
      .catalog__link {
        &:after {
          display: none;
        }
      }
    }
  }

  &__link {
    display: flex;
    position: relative;
    padding: rem-calc(15 15 15 60);
    background: #fff;

    &_submenu {
      &:before {
        display: block;
        position: absolute;
        content: '';
        top: rem-calc(22);
        right: rem-calc(15);
        transform: rotate(45deg);
        border-width: rem-calc(2);
        border-style: solid;
        border-color: $medium-gray $medium-gray transparent transparent;
        padding: rem-calc(3);
      }
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      bottom: 0;
      left: rem-calc(15);
      right: rem-calc(15);
      height: rem-calc(1);
      background-color: $medium-gray;
    }

    &_active {
      background-color: $primary-color;

      &_submenu {
        &:before {
          border-color: $white $white transparent transparent;
        }
      }

      &:after {
        background-color: $primary-color;
      }

      .catalog__title {
        color: $white;
      }

      .catalog__icon {
        color: $white;
      }
    }

    &:hover {
      background-color: $primary-color;

      &_submenu {
        &:before {
          border-color: $white $white transparent transparent;
        }
      }

      &:after {
        background-color: $primary-color;
      }

      .catalog__title {
        color: $white;
      }

      .catalog__icon {
        color: $white;
      }
    }
  }

  &__icon {
    position: absolute;
    left: rem-calc(15);
    width: rem-calc(40);
    text-align: center;
    font-size: rem-calc(25);
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    font-weight: 700;
    font-size: rem-calc(14);
    color: $black;
  }

  &-wrapper {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    background-color: transparent;
  }
}