.section {
  position: relative;
  padding-top: rem-calc(75);

  &__title {
    display: block;
    margin-bottom: rem-calc(50);
    text-align: center;
    font-weight: 700;
    font-size: rem-calc(32);
    color: $primary-color;
  }

  &:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: rem-calc(-1);
    width: rem-calc(3);
    height: 100%;
    background-color: $white;
    z-index: 2;
  }

  &_newsletter {
    margin-top: rem-calc(80);
    padding: rem-calc(64 0 75 0);
    background-color: $news-bg;

    .section__title {
      margin-bottom: rem-calc(30);
    }

    &:after {
      display: none;
    }
  }
}