mixin category-card(image, title)
  a.category-card(href="" data-equalizer-watch="category-card")
    .category-card__image(style="background-image: url("+ image +")")
    span.category-card__title= title