.top-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    &:not(:last-child) {
      .top-menu__link {
        margin-right: rem-calc(35);
      }
    }
  }

  &__link {
    display: block;
    color: $white;
    font-size: rem-calc(14);

    &:hover,
    &:focus,
    &:active {
      color: $yellow;
    }

    @include breakpoint(large down) {
      font-size: rem-calc(12);
    }
  }
}