@mixin font-size($type) {
  $last-num: 4;
  $sizes-array: map-get($font-sizes, $type);
  font-size: nth($sizes-array, $last-num);
  line-height: nth($sizes-array, 5);

  @include breakpoint(xlarge down) {
    font-size: nth($sizes-array, 3);
    line-height: nth($sizes-array, 5);
  }
  @include breakpoint(large down) {
    font-size: nth($sizes-array, 2);
    line-height: nth($sizes-array, 5);
  }
  @include breakpoint(medium down) {
    font-size: nth($sizes-array, 1);
    line-height: nth($sizes-array, 5);
  }
}
