mixin news-card(img, title)
  .news-card
    a.news-card__image(href="#" style="background-image: url("+ img +")")
    span.news-card__date 20.08.2017
    a.news-card__title(href="#")= title
    p.news-card__text Если вам хочется привнести в дом цветущей красоты, но времени на уход за цветами в горшках нет, стоит задуматься о покупке ...