.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    font-size: 16px;
    line-height: 1.56;
    color: $light-main;
    border-bottom: rem-calc(1) solid transparent;
    transition: 0.3s ease all;

    &:hover,
    &:focus,
    &:active {
      color: $pink;
      border-color: $pink;
    }
  }
}