doctype html
html.no-js(lang='ru')
  include components/service/_head

  body
  
    //- mixins
    include ../blocks/foundation/callout/_callout
    include ../blocks/foundation/label/_label
    include ../blocks/foundation/pagination/_pagination
    include ../blocks/foundation/accordion/_accordion
    include ../blocks/foundation/button/_button
    include ../blocks/foundation/slider/_slider
    include ../blocks/foundation/close-button/_close-button
    include ../blocks/foundation/breadcrumbs/_breadcrumbs
    include ../blocks/foundation/badge/_badge
    
    include ../blocks/general/step/_step
    
    include ../blocks/shop/quant/_quant
    include ../blocks/shop/mark/_mark
    include ../blocks/shop/product-card/_product-card
    include ../blocks/shop/advert-poster/_advert-poster
    include ../blocks/shop/news-item/_news-item
    
    //- header and top-line
    include components/shop/_top-line
    include components/shop/_header

    //- main content
    block page
      include ../blocks/shop/main-carousel/_main-carousel
      .grid-container
        section.section
          h2.section__title Новинки
          .grid-x.medium-up-3.large-up-4.xlarge-up-5.section-goods(data-equalizer="cards")
            each card in [1,2,3]
              .cell(data-equalizer-watch="cards"): +product-card(false, false, './i/products/product-' + card +'.png')
            .cell(data-equalizer-watch="cards"): +product-card(true, false, './i/products/product-4.png')
            .cell(data-equalizer-watch="cards"): +product-card(false, true, './i/products/product-5.png')

        section.promo-cards
          .grid-x.grid-padding-x
            .cell.medium-12
              .promo-card.promo-card_medium(href="#" style="background-image: url(./i/cupones.jpg)")
                h4.promo-card__title Скидки
                  br
                  | дня
                a.promo-card__button(href="#")
                  include ../images/promo-button.svg

              .grid-x.grid-padding-x
                .cell.small-12
                  .promo-card.promo-card_small(href="#" style="background-image: url(./i/new-items.jpg)")
                    h4.promo-card__title.promo-card__title_bottom Новинки
                    a.promo-card__button(href="#")
                      include ../images/promo-button.svg

                .cell.small-12
                  .promo-card.promo-card_small(href="#" style="background-image: url(./i/sales.jpg)")
                    h4.promo-card__title.promo-card__title_top Распродажа
                    a.promo-card__button(href="#")
                      include ../images/promo-button.svg

            .cell.medium-12
              .promo-card.promo-card_large(href="#" style="background-image: url(./i/gifts.jpg)")
                h4.promo-card__title.promo-card__title_bottom Подарки
                a.promo-card__button(href="#")
                  include ../images/promo-button.svg

        section.section.section_borderless
          h2.section__title Акции
          .products-carousel-wrapper
            .products-carousel
              +product-card(false, false, './i/products/product-1.png')
              +product-card(false, true, './i/products/product-2.png')
              +product-card(false, false, './i/products/product-3.png')
              +product-card(false, false, './i/products/product-4.png')
              +product-card(false, false, './i/products/product-5.png')
              +product-card(false, true, './i/products/product-3.png')

        section.section
          h2.section__title Новости
          .grid-x.medium-up-3(data-equalizer="news-title" data-equalize-by-row="true")
            .cell: +news-item('./i/news/news-1.jpg', 'Создаем имбирные пряники. Мастер-класс 28 августа')
            .cell: +news-item('./i/news/news-2.jpg', 'Кухонные принадлежности, Посуда для чая и кофе, Столовая посуда')
            .cell: +news-item('./i/news/news-3.jpg', 'Посуда для детей, новинки. Мастер-класс сервировки')
        
        section.section(data-equalizer="blog-cards" data-equalize-by-row="true" data-equalize-on="large")
          h2.section__title Блог
          .grid-x.grid-padding-x(data-equalizer-watch="card-title")
            .cell.auto
              .blog-card.blog-card_large(data-equalizer-watch="blog-cards")
                img.blog-card__image(src="./i/blog/blog-1.png" alt="blog image")
                .blog-card__content
                  h4.blog-card__title Посуда для чая и кофе
                  a.blog-card__link(href="#") Подробнее
            .cell.medium-12.large-14
              .grid-x.grid-padding-x.large-up-2
                .cell
                  .grid-x.blog-card(data-equalizer-watch="blog-cards")
                    .cell.small-10.large-24.blog-card__head(style="background-image: url(./i/blog/blog-2.png)")
                      span.blog-card__label -20%
                    .cell.small-14.large-24.blog-card__content
                      h4.blog-card__title(data-equalizer-watch="card-title") Кухонные принадлежности по новым ценам
                      p.blog-card__text Анонс статьи с картинкой, набор текста для рекламного блока блока например про  статьи с 
                      a.blog-card__link(href="#") Подробнее
                .cell
                  .grid-x.blog-card(data-equalizer-watch="blog-cards")
                    .cell.small-10.large-24.blog-card__head.blog-card__head_yellow(style="background-image: url(./i/blog/blog-3.png)")
                    .cell.small-14.large-24.blog-card__content
                      h4.blog-card__title(data-equalizer-watch="card-title") Всё об эмалированной посуде
                      p.blog-card__text Анонс статьи с картинкой, набор текста для рекламного блока блока например про  статьи с 
                      a.blog-card__link(href="#") Подробнее

      section.section.section_newsletter
        .grid-container
          .grid-x.grid-padding-x.align-center
            .cell.small-12.xlarge-10
              h2.section__title Подписаться на рассылку
              form.newsletter-form(action="#")
                input.newsletter-form__input(type="email" placeholder="E-mail")
                button.button.button_bottom(type="submit") Подписаться

    include components/shop/_footer
    include components/service/_js
