doctype html
html.no-js(lang='ru')
  include components/service/_head

  body

    //- mixins
    include ../blocks/foundation/callout/_callout
    include ../blocks/foundation/label/_label
    include ../blocks/foundation/pagination/_pagination
    include ../blocks/foundation/accordion/_accordion
    include ../blocks/foundation/button/_button
    include ../blocks/foundation/slider/_slider
    include ../blocks/foundation/close-button/_close-button
    include ../blocks/foundation/breadcrumbs/_breadcrumbs
    include ../blocks/foundation/badge/_badge
    
    include ../blocks/general/step/_step
    include ../blocks/general/dd/_dd
    
    include ../blocks/shop/quant/_quant
    include ../blocks/shop/mark/_mark
    include ../blocks/shop/product-card/_product-card
    include ../blocks/shop/advert-poster/_advert-poster
    
    //- header and top-line
    include components/shop/_top-line
    include components/shop/_header

    //- main content
    block page
      include ../blocks/shop/main-carousel/_main-carousel
      .grid-container
        section.products
          h2.products__title Новинки
          .grid-x.large-up-5
            each card in [1,2,3]
              .cell: +product-card(false, false, './i/products/product-' + card +'.png')
            .cell: +product-card(true, false, './i/products/product-4.png')
            .cell: +product-card(false, true, './i/products/product-5.png')

        section.promo-cards
          .grid-x.grid-padding-x
            .cell.large-12
              a.promo-card.promo-card_medium(href="#" style="background-image: url(./i/sales.jpg)")
              .grid-x.grid-padding-x
                .cell.large-12
                  a.promo-card.promo-card_small(href="#" style="background-image: url()")
                .cell.large-12
                  a.promo-card.promo-card_small(href="#" style="background-image: url()")
            .cell.large-12
              a.promo-card.promo-card_large(href="#" style="background-image: url(./i/gifts.jpg)")

      
    include components/shop/_footer
    include components/service/_js
