doctype html
html.no-js(lang='ru')
  include components/service/_head

  body

    //- mixins
    include ../blocks/foundation/callout/_callout
    include ../blocks/foundation/label/_label
    include ../blocks/foundation/pagination/_pagination
    include ../blocks/foundation/accordion/_accordion
    include ../blocks/foundation/button/_button
    include ../blocks/foundation/slider/_slider
    include ../blocks/foundation/close-button/_close-button
    include ../blocks/foundation/breadcrumbs/_breadcrumbs
    include ../blocks/foundation/badge/_badge
    
    include ../blocks/general/step/_step
    include ../blocks/general/dd/_dd
    
    include ../blocks/shop/quant/_quant
    include ../blocks/shop/mark/_mark
    include ../blocks/shop/product-card/_product-card
    include ../blocks/shop/advert-poster/_advert-poster
    
    //- header and top-line
    include components/shop/_top-line
    include components/shop/_header

    //- main content
    block page
      include ../blocks/shop/main-carousel/_main-carousel

      section.products
        .grid-container
          h2.products__title Новинки
          .products-container
            +product-card()
            
      
    include components/shop/_footer
    include components/service/_js
