.main-carousel {
  position: relative;
  margin-bottom: rem-calc(10);

  &__item {
    position: relative;
    padding: rem-calc(30px 0);
    min-height: rem-calc(400);
    background-color: $yellow;
    background: linear-gradient( -183deg, $yellow 0%, $yellow 60%, $medium-yellow 60%, $medium-yellow 60%);

    &:nth-child(2) {
      background: linear-gradient( -183deg, $warning-color 0%, $warning-color 60%, $alert-color 60%, $alert-color 60%);
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    margin: rem-calc(20 0);

    li {
      button {
        background: $white;
      }

      &.slick-active {
        button {
          background: $primary-color;
        }
      }
    }
  }

  .slick-next,
  .slick-prev {
    background: none;

    &:focus,
    &:hover,
    &:active {
      background: none;
    }
  }

  .slick-prev {
    left: rem-calc(60);

    .slick-arrows {
      transform: rotate(180deg);
    }
  }

  .slick-next {
    right: rem-calc(60);
  }
}