.advert {
  position: relative;
  justify-content: center;

  @include breakpoint(small down) {
    text-align: center;
  }

  &__title {
    font-weight: 700;
    @include font-size('h1');
    color: $black;
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    @include font-size('h2');
    line-height: 1.25;

    @include breakpoint(large down) {
      margin-bottom: rem-calc(0);
    }
  }

  &__text {
    display: block;
    margin-bottom: rem-calc(35);
    font-weight: 700;
    font-style: italic;
    @include font-size('h2');
    color: $red;

    @include breakpoint(large down) {
      margin-bottom: rem-calc(20);
    }
  }
}