@mixin margin-level($direction, $type) {
  $last-num: 4;
  $margin-array: map-get($levels, $type);
  margin-#{$direction}: nth($margin-array, $last-num);

  @if $direction == 'horizontal' {
    @include breakpoint(xlarge down) {
      margin-left: nth($margin-array, 3);
      margin-right: nth($margin-array, 3);
    }
    @include breakpoint(large down) {
      margin-left: nth($margin-array, 2);
      margin-right: nth($margin-array, 2);
    }
    @include breakpoint(medium down) {
      margin-left: nth($margin-array, 1);
      margin-right: nth($margin-array, 1);
    }
  } @else if $direction == 'vertical' {
    @include breakpoint(xlarge down) {
      margin-top: nth($margin-array, 3);
      margin-bottom: nth($margin-array, 3);
    }
    @include breakpoint(large down) {
      margin-top: nth($margin-array, 2);
      margin-bottom: nth($margin-array, 2);
    }
    @include breakpoint(medium down) {
      margin-top: nth($margin-array, 1);
      margin-bottom: nth($margin-array, 1);
    }
  } @else if $direction == 'all' {
    @include breakpoint(xlarge down) {
      margin: nth($margin-array, 3);
    }
    @include breakpoint(large down) {
      margin: nth($margin-array, 2);
    }
    @include breakpoint(medium down) {
      margin: nth($margin-array, 1);
    }
  } @else {
    @include breakpoint(xlarge down) {
      margin-#{$direction}: nth($margin-array, 3);
    }
    @include breakpoint(large down) {
      margin-#{$direction}: nth($margin-array, 2);
    }
    @include breakpoint(medium down) {
      margin-#{$direction}: nth($margin-array, 1);
    }
  }
}
