.step {
  display: flex;
  margin-bottom: rem-calc(16);

  &__input {
    margin-top: rem-calc(2);
    margin-bottom: rem-calc(0);
    display: none;

    &:checked + .step__label {
      &:after {
        transform: scale(1);
      }
    }

    &:disabled + .step__label {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &[type="radio"] {
      & + .step__label {
        &:before {
          border-radius: 50%;
        }

        &:after {
          background-image: none;
          background-color: $pink;
          border-radius: 50%;
        }
      }
  }
  }

  .step__label {
    position: relative;
    margin-right: rem-calc(0);
    margin-left: rem-calc(0);
    padding-left: rem-calc(35);

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: rem-calc(2);
      left: 0;
      width: rem-calc(20);
      height: rem-calc(20);
      border: rem-calc(2) solid $light-gray;
      border-radius: rem-calc(0);
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: rem-calc(6);
      left: rem-calc(4);
      width: rem-calc(12);
      height: rem-calc(12);
      border-radius: rem-calc(0);
      background-image: url("../../../images/checked.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: scale(0);
      transition: 0.3s ease all;
    }
  }
}

