.section {
  position: relative;
  padding-top: rem-calc(75);

  @include breakpoint(large down) {
    padding-top: rem-calc(50);
  }

  @include breakpoint(small down) {
    padding-top: rem-calc(20);
  }

  &__title {
    display: block;
    margin-bottom: rem-calc(50);
    text-align: center;
    font-weight: 700;
    @include font-size('h2');
    color: $primary-color;

    @include breakpoint(large down) {
      margin-bottom: rem-calc(40);
    }

    @include breakpoint(small down) {
      margin-bottom: rem-calc(15);
    }
  }

  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: rem-calc(-1);
    width: rem-calc(4);
    height: 100%;
    background-color: $white;
    z-index: 500;

    @include breakpoint(small down) {
      display: none;
    }
  }

  &:before {
    left: rem-calc(-1);
  }

  &_borderless {
    &:before,
    &:after {
      display: none;
    }
  }

  &_bottom {
    margin-bottom: rem-calc(80);
  }

  &_product {
    .section__title {
      color: $black;
    }
  }

  &_newsletter {
    margin-top: rem-calc(80);
    padding: rem-calc(64 0 75 0);
    background-color: $news-bg;

    @include breakpoint(small down) {
      margin-top: 0;
      padding: rem-calc(24 0 32 0);

      .section__title {
        font-size: rem-calc(14);
      }
    }

    &:before,
    &:after {
      display: none;
    }

    .section__title {
      margin-bottom: rem-calc(30);
    }

    &:after {
      display: none;
    }
  }

  &-goods {
    @include breakpoint(large only) {
      .cell {
        &:nth-child(n+5) {
          display: none;
        }
      }
    }

    @include breakpoint(medium only) {
      .cell {
        &:nth-child(n+4) {
          display: none;
        }
      }
    }

    @include breakpoint(small only) {
      .cell {

        &:nth-child(n+2) {
          .product-card__wrapper {
            &:after {
              display: none;
            }
          }
        }
        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
}