.top-line {
  padding: rem-calc(10 0);
  background-color: $main-color;

  &__tel {
    color: $white;
    font-weight: 600;
    font-size: rem-calc(18);

    &:hover,
    &:focus,
    &:active {
      color: $yellow;
    }

    @include breakpoint(large down) {
      font-weight: 400;
      font-size: rem-calc(16)
    }
  }
}