.mark {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    font-size: rem-calc(14);
    border: none;
    border-radius: 50%;
    color: $light-gray;

    &:not(:last-child) {
      margin-right: rem-calc(5);

      @include breakpoint(small down) {
        margin-right: rem-calc(3);
        font-size: rem-calc(12);
      }
    }

    &_fill {
      color: $medium-yellow;
    }
  }
}