mixin mark()
  ul.mark
    li.mark__item.mark__item_fill: include ../../../images/star.svg
    li.mark__item.mark__item_fill: include ../../../images/star.svg
    li.mark__item.mark__item_fill: include ../../../images/star.svg
    li.mark__item: include ../../../images/star.svg
    li.mark__item: include ../../../images/star.svg