.mark {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    height: rem-calc(5);
    width: rem-calc(5);
    background-color: $medium-gray;
    border: none;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: rem-calc(7);

      @include breakpoint(small down) {
        margin-right: rem-calc(5);
      }
    }

    &_fill {
      background-color: $primary-color;
    }
  }
}