.products {
  padding-top: rem-calc(75);

  &__title {
    display: block;
    margin-bottom: rem-calc(50);
    text-align: center;
    font-weight: 700;
    font-size: rem-calc(32);
    color: $primary-color;
  }

  .product-card {
    &:not(:last-child) {
      &:after {
        position: absolute;
        content: '';
        display: block;
        top: rem-calc(15);
        bottom: rem-calc(15);
        width: rem-calc(2);
        background-color: #cfd8dc;
      }
    }
  }

}