.soc-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint(small down) {
    margin: rem-calc(20 0);
  }

  &_right {
    justify-content: flex-end;

    @include breakpoint(small down) {
      justify-content: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem-calc(15);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-size('p3');
    color: $secondary-color;
    width: rem-calc(30);
    height: rem-calc(30);
    border: rem-calc(1) solid $secondary-color;
    border-radius: 50%;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $secondary-color;
      border-color: $secondary-color;
    }

    @include breakpoint(large down) {
      width: rem-calc(25);
      height: rem-calc(25);
    }
  }
}