.footer-column {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(20);

  &__title {
    font-size: rem-calc(14);
    font-weight: 600;
    line-height: 1.57;
    color: inherit;
  }

  &__text {
    margin-bottom: 0;

    @include breakpoint(small down) {
      margin-bottom: rem-calc(10);
      color: scale-color($white, $lightness: -40%)
    }
  }
}