a {
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: $secondary-color;
  text-decoration-skip-ink: none;

  &:active,
  &:focus,
  &:hover {
    color: scale-color($secondary-color, $lightness: -30%);
  }
}

hr {
  margin-left: auto;
  margin-top: rem-calc(0);
  margin-right: auto;
  margin-bottom: rem-calc(16);
  border-bottom: rem-calc(1) solid $light-gray;
}

label {
  line-height: 1.5;
}

table {
  margin-bottom: rem-calc(16);
  border-collapse: collapse;
  width: 100%;
  border-radius: rem-calc(4);
}

dl,
ol,
p,
ul {
  line-height: 1.5;
  margin-bottom: rem-calc(16);
}

blockquote {
  border-left: rem-calc(2) solid $primary-color;
}

blockquote,
blockquote p {
  padding: rem-calc(0 14);
}

tfoot,
thead {
  background: $light-gray;
  border: rem-calc(1) solid $light-gray;

  td,
  th {
    font-weight: $global-weight-bold;
  }

  tr {
    background: transparent;
  }
}

tbody {
  background: $white;
  border: rem-calc(1) solid $light-gray;

  td,
  th {
    padding: rem-calc(8 10);
  }

  tr:nth-child(even) {
    background: $light-gray;
    border-bottom: rem-calc(0);
  }
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  box-shadow: none;
  height: $global-input-height;

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
  }
}
select {
    height: $global-input-height;
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(0);
}
