.products-carousel {
  position: relative;
  margin-top: rem-calc(-45);
  margin-left: rem-calc(-20);
  margin-right: rem-calc(-20);
  padding: rem-calc(45 20 20 20);
  overflow: hidden;

  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
    top: rem-calc(40);
    bottom: rem-calc(45);
    right: rem-calc(-7);
    width: rem-calc(32);
    background-color: $white;
    z-index: 500;

    @include breakpoint(large down) {
      width: rem-calc(25);
    }

    @include breakpoint(small down) {
      display: none;
    }
  }

  &:before {
    left: rem-calc(-7);
  }
  
  @include breakpoint(large down) {
    margin-top: rem-calc(-20);
    margin-left: rem-calc(0);
    margin-right: rem-calc(0);
    padding: rem-calc(40 0 20 0);
  }

  @include breakpoint(small down) {
    margin-top: rem-calc(0);
    padding: rem-calc(0 0 20 0);

    .product-card__wrapper {
      padding-left: rem-calc(30);
      padding-right: rem-calc(30);

      &:after {
        display: none;
      }
    }

    .product-card__head {
      width: 30%;
    }

    .product-card__content {
      width: 70%;
    }
  }

  &-wrapper {
    position: relative;

    .slick-arrow {
      padding: rem-calc(16);
      height: rem-calc(50);
      width: rem-calc(50);
      border-radius: 50%;
      background-color: $white;
      box-shadow: rem-calc(0 4 10 0) rgba(0, 0, 0, 0.11);
      z-index: 1000;

      @include breakpoint(small down) {
        display: block !important;
        height: rem-calc(30);
        width: rem-calc(30);
        padding: 0;

        .slick-arrows {
          height: rem-calc(15);
        }
      }
  
      &.slick-prev {
        left: rem-calc(-50);
        
        @include breakpoint(large down) {
          top: 0;
          left: auto;
          right: rem-calc(80);
        }

        @include breakpoint(small down) {
          top: rem-calc(65);
          right: auto;
          left: 0;
        }
        .slick-arrows {
          transform: rotate(180deg);
        }
      }
  
      &.slick-next {
        right: rem-calc(-50);

        @include breakpoint(large down) {
          top: 0;
          left: auto;
          right: rem-calc(10);
        }

        @include breakpoint(small down) {
          top: rem-calc(65);
          right: 0;
          left: auto;
        }
      }
    }
  }

  .slick-list {
    position: relative;
    z-index: 100;
    overflow: visible;
  }

  .slick-active {
    &:first-child {
      margin-left: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }

  .slick-dots {
    position: relative;
    z-index: 1;
    margin: rem-calc(15 0);

    @include breakpoint(small down) {
      margin: 0;
    }

    li {

      button {
        height: rem-calc(6);
        width: rem-calc(6);
        background-color: $dots-color;
      }

      &.slick-active {
        button {
          background-color: $primary-color;
          height: rem-calc(11);
          width: rem-calc(11);
        }
      }
    }
  }
}